In [1]:
%reload_ext dapla.magics.blueprint

In [2]:
%%define_input
# Supports comment
testdata      /felles/bjornandre/test/fødsel
andre_data    /ske/skatt/input

In [3]:
%%define_output
mellomlager   /felles/bjornandre/test/output
bearbeidet    /ske/skatt/output

In [4]:
%get_output mellomlager

{'path': '/felles/bjornandre/test/output', 'dataset': None}

In [5]:
%show_input

                                      Path  Mapped dataset
testdata    /felles/bjornandre/test/fødsel           False
andre_data                /ske/skatt/input           False

In [6]:
import pandas as pd
pd.set_option('max_colwidth',100)

In [7]:
# Create pandas dataframe
import pandas as pd
data = {
    'apples': [3, 2, 0, 1],
    'oranges': [0, 3, 7, 2]
}
purchases = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])

In [8]:
%register_input_dataset testdata purchases

In [13]:
v = %get_input testdata
v['dataset']

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2